<div class="therapists-container">
  <h1 class="center-heading">Therapists Directory</h1>

  <%= form_tag therapists_path, method: :get, class: 'filter-form' do %>
    <div class="form-group">
      <%= label_tag 'insurance', 'Insurance:' %>
      <%= text_field_tag :insurance, params[:insurance], list: 'insurance-options', class: 'form-control' %>
      <datalist id="insurance-options">
        <option value="UnitedHealth Group">
        <option value="Anthem">
        <option value="Kaiser Permanente">
        <option value="Ambetter">
        <option value="Humana">
        <option value="Blue Cross Blue Shield">
        <option value="Cigna">
        <option value="Aetna">
        <option value="Molina Healthcare">
        <option value="GuideWell (Florida Blue)">
        <option value="HCSC (Health Care Service Corporation)">
        <option value="Highmark">
      </datalist>
    </div>

    <div class="form-group">
      <%= label_tag 'remote', 'Remote:' %>
      <%= select_tag :remote, options_for_select([[], ['Yes', true], ['No', false]], params[:remote]), class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag 'location', 'Location:' %>
      <%= select_tag :location, options_for_select(['', 'Brooklyn', 'Queens', 'Bronx', 'Manhattan', 'Staten Island'], params[:location]), class: 'form-control' %>
    </div>
    
    <%= submit_tag 'Filter', class: 'btn btn-primary' %>
    <%= link_to 'Clear', therapists_path, class: 'btn btn-secondary' %>
  <% end %>

  <div class="table-container">
    <%= render 'table' %>
  </div>

  <%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %>

</div>

<script>
  $(document).ready(function() {
    function updateTherapistsList() {
      var insuranceInput = $("#insurance");
      var insurance = $("#insurance").val();
      var remote = $("#remote").val();
      var location = $("#location").val();

      $.ajax({
        type: "GET",
        url: "/therapists",
        data: { insurance: insurance, remote: remote, location: location },
        success: function(data) {
          var tableData = $(data).find(".table-container tbody").html();
          $(".table-container tbody").html(tableData);

          var resultCount = $(".table-container tbody tr td.location").length;
          $(".result-count").text(resultCount + " result(s) found");
        },
        error: function(data) {
          console.error("Error updating therapists list:", data);
        }
      });

      if (!isValidInsurance(insurance)) {
        insuranceInput.val('');
        return;
      }
    }

    $("#insurance, #remote, #location").on("change", updateTherapistsList);

    function isValidInsurance(insurance) {
      var validInsuranceList = ['UnitedHealth Group', 'Anthem', 'Kaiser Permanente', 'Ambetter', 'Humana', 'Blue Cross Blue Shield', 'Cigna', 'Aetna', 'Molina Healthcare', 'CVS Health (Aetna)', 'GuideWell (Florida Blue)', 'HCSC (Health Care Service Corporation)', 'Highmark'];
      return validInsuranceList.includes(insurance);
    }

  });
</script>